<a href="https://colab.research.google.com/github/RAVIKUMARBALIJA/ExpenseTracker_Python/blob/main/MiniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
##Author : Ravi kumar Balija, 26/05/2021

# # ITP Mini Project

We all have to maintain our own personal expenses in day to day life. Itâ€™s very normal for us to lose track of them and end up going out of budget. We require a way to keep ourself in within budget.

This is where we can explore our skills in Python to come up with a solution. We can create a python program that allows you to keep track of the finance expenses.

With the Finance Tracker, users can easily set a budget and add up their expenses to make better financial decisions. Anything beyond the budget will not be added up.

**Objective:**To Estimate the Personal Financial Budget at the End of the Month.

In [119]:
rm -r expense_tracker

In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import os
import datetime

In [122]:
class ExpenseTracker():
  def __init__(self):
    self.path='expense_tracker/'
    #self.budget=5000
    os.makedirs(path,exist_ok=True)
    try:
      with open(os.path.join(self.path,'tracker.csv'),'rb') as f:
        pd.read_csv(self.path+'tracker.csv',encoding='utf-8')
    except:
      with open(os.path.join(self.path,'tracker.csv'),'w+') as f:
        f.writelines('Date,TransactionName,Type,Amount,Location')
    expense_data=pd.read_csv(path+'tracker.csv',sep=',',encoding='utf-8')
  def add_expense(self):
    b_add=True
    date=datetime.datetime.now().strftime('%c')
    transactionName=input("Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc ")
    Type=input("enter the transaction type Ex : Debit/Credit ")
    Amount=float(input("enter Amount to be spent "))
    Location=input('Location of the transaction ')
    data={
      'Date':date,
      'TransactionName':transactionName,
      'Type':Type,
      'Amount':Amount,
      'Location':Location
    }
    with open(os.path.join(self.path,'tracker.csv'),'rb') as f:
      expense_data=pd.read_csv(self.path+'tracker.csv',encoding='utf-8')
    expense_data=expense_data.append(data,ignore_index=True)
    b_add=self.validate_balance(data['Type'],data['Amount'])
    if b_add:
      expense_data.to_csv(self.path+'tracker.csv',index=False)
      print("Your transaction has been successful\n")
      expense=pd.DataFrame(expense_data.groupby('Type')['Amount'].sum())
      if int(expense.count())>0:
        rem_budget=(expense[expense.index=='Credit'].values-expense[expense.index=='Debit'].values).ravel()[0]
        print(f"Your available balance {rem_budget} \n")
  def validate_balance(self,Type=None,Amount=None):
    b_add=True
    with open(os.path.join(self.path,'tracker.csv'),'rb') as f:
      expense_data=pd.read_csv(self.path+'tracker.csv',encoding='utf-8')
    expense=pd.DataFrame(expense_data.groupby('Type')['Amount'].sum())
    if int(expense.count())>0:
      rem_budget=(expense[expense.index=='Credit'].values-expense[expense.index=='Debit'].values).ravel()[0]
    else:
      rem_budget=0
    if(rem_budget<=0):
      if(Type=='Debit'):
        print(f'you dont have sufficient funds. please adjust your latest expense or add money to your wallet. remaining funds {rem_budget}')
        b_add=False
    elif(rem_budget<Amount and Type=='Debit'):
      print(f'you dont have sufficient funds. please adjust your latest expense or add money to your wallet. remaining funds {rem_budget}')
      b_add=False
    return b_add
  def fetch_expenses(self):
    with open(os.path.join(self.path,'tracker.csv'),'rb') as f:
      expense_data=pd.read_csv(self.path+'tracker.csv',encoding='utf-8')
    expense=pd.DataFrame(expense_data.groupby('Type')['Amount'].sum())
    if int(expense.count())>0:
      rem_budget=(expense[expense.index=='Credit'].values-expense[expense.index=='Debit'].values).ravel()[0]
    print(f"Your available balance {rem_budget} \nTransactions below")
    #print(pd.DataFrame(expense_data))
    return expense_data

In [123]:
expense_tracker=ExpenseTracker()

In [116]:
expense_tracker.fetch_expenses()

Your available balance 0.0
Transactions below

                        Date TransactionName    Type  Amount   Location
0   Wed May 26 07:23:48 2021           Movie   Debit  1500.0  Hyderabad
1   Wed May 26 07:24:18 2021           Movie  Credit  3500.0  Hyderabad
2   Wed May 26 07:25:20 2021         Deposit   Debit  2000.0      Adoni
3   Wed May 26 07:31:05 2021         Deposit  Credit  2500.0      Adoni
4   Wed May 26 07:32:12 2021             pub   Debit  1000.0    Bellary
5   Wed May 26 07:40:02 2021        Shopping   Debit  2000.0    Bellary
6   Wed May 26 07:48:17 2021         Deposit  Credit  2000.0      Adoni
7   Wed May 26 07:51:53 2021        Shopping   Debit  1000.0    Bellary
8   Wed May 26 07:54:32 2021        Shopping   Debit   400.0    Bellary
9   Wed May 26 07:58:48 2021         Deposit  Credit   900.0    Bellary
10  Wed May 26 07:59:49 2021        Shopping   Debit   800.0    Bellary
11  Wed May 26 08:00:38 2021          Burger   Debit   200.0    Bellary

In [105]:
expense_tracker.validate_balance('Debit',1000)

you dont have sufficient funds. please adjust your latest expense or add money to your wallet. remaining funds 100.0

False

In [107]:
expense_tracker.add_expense()

Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc Deposit
enter the transaction type Ex : Debit/Credit Credit
enter Amount to be spent 900
Location of the transaction Bellary
Your transaction has been successful

Your available balance 1000.0

In [108]:
expense_tracker.add_expense()

Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc Shopping
enter the transaction type Ex : Debit/Credit Debit
enter Amount to be spent 1200
Location of the transaction Bellary
you dont have sufficient funds. please adjust your latest expense or add money to your wallet. remaining funds 1000.0

In [109]:
expense_tracker.add_expense()

Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc Shopping
enter the transaction type Ex : Debit/Credit Debit
enter Amount to be spent 800
Location of the transaction Bellary
Your transaction has been successful

Your available balance 200.0

In [110]:
expense_tracker.add_expense()

Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc Burger
enter the transaction type Ex : Debit/Credit Debit
enter Amount to be spent 200
Location of the transaction Bellary
Your transaction has been successful

Your available balance 0.0

In [117]:
expense_tracker.add_expense()

Please enter your transaction name ex: shopping, pub, cinema, Deposit, ATM Deposit etc Deposit
enter the transaction type Ex : Debit/Credit Credit
enter Amount to be spent 5000
Location of the transaction Bangalore
Your transaction has been successful

Your available balance 5000.0

In [111]:
expense_tracker.fetch_expenses()

Your available balance 0.0
Transactions below

                        Date TransactionName    Type  Amount   Location
0   Wed May 26 07:23:48 2021           Movie   Debit  1500.0  Hyderabad
1   Wed May 26 07:24:18 2021           Movie  Credit  3500.0  Hyderabad
2   Wed May 26 07:25:20 2021         Deposit   Debit  2000.0      Adoni
3   Wed May 26 07:31:05 2021         Deposit  Credit  2500.0      Adoni
4   Wed May 26 07:32:12 2021             pub   Debit  1000.0    Bellary
5   Wed May 26 07:40:02 2021        Shopping   Debit  2000.0    Bellary
6   Wed May 26 07:48:17 2021         Deposit  Credit  2000.0      Adoni
7   Wed May 26 07:51:53 2021        Shopping   Debit  1000.0    Bellary
8   Wed May 26 07:54:32 2021        Shopping   Debit   400.0    Bellary
9   Wed May 26 07:58:48 2021         Deposit  Credit   900.0    Bellary
10  Wed May 26 07:59:49 2021        Shopping   Debit   800.0    Bellary
11  Wed May 26 08:00:38 2021          Burger   Debit   200.0    Bellary